# sudo cp nist_service.service /etc/systemd/system/
# to start: sudo systemctl start nist_service; sudo systemctl enable nist_service
# to restart: sudo systemctl daemon-reload; sudo systemctl restart nist_service
# log: sudo tail /var/log/syslog
# log: tail /tmp/nist_service.log
[Unit]
Description=uWSGI instance to serve nist_service 
After=network.target

[Service]
User=msdc
Group=www-data
WorkingDirectory=/home/msdc/nist_service
Environment="PATH=/home/msdc/nist_service"
Environment="PYTHONPATH=/home/msdc/nist_service:/home/msdc/nist_service/nistms2:/home/msdc/nist_service/PA-Graph-Transformer:."
ExecStart=/bin/bash -c 'cd /home/msdc/nist_service && /usr/bin/uwsgi --plugin python3 --ini nist_service.ini'

[Install]
WantedBy=multi-user.target
